<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings from Ansible</title>
    <style>
        body {
            background-color: {{ background_color }};
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>

    <h1>Greetings!</h1>
    <p>This Machine is based on {{ family }}.</p>
    <p>The deployment of the Apache HTTP Server on this machine has been orchestrated using Ansible and the ({{ package_name }}) package.</p>
    
</body>
</html>
